{% extends 'base.html.twig' %}

{% block body %}
<div class="container-form col-12">
    <h2 class="h2 text-center">Changer votre mot de passe</h2>
    <form method="post" action="index.php?access=account&id={{ user['id'] }}&action=password"
        enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-6 mb-4 pb-2">
                <div class="form-outline">
                    <label class="form-control-label">Mot de passe*</label>
                    <input type="password" id="password" name="password" class="form-control form-control-lg" required />
                </div>
            </div>
            <div class="col-md-6 mb-4 pb-2">
                <div class="form-outline">
                    <label class="form-control-label">Répéter le mot de passe*</label>
                    <input type="password" id="repeatpassword" name="repeatpassword"
                        class="form-control form-control-lg" required />
                </div>
            </div>
        </div>
        <div class="actions">
            <button class="btn btn-secondary" name="submit" type="submit">Modifier</button>
        </div>
    </form>
</div>
{% endblock %}

{% block footer %}
{% endblock %}