{% extends 'base.html.twig' %}

{% block body %}
{# Message #}
{% import "layout/alert.html.twig" as message %}

<div class="container-form col-12">
	<h2 class="h2 text-center">Mettre à jour un article un commentaire</h2>
	<form method="post" action="index.php?access=comment&id={{ idComment is defined ? idComment : comment[0].id }}&action=update" enctype="multipart/form-data">
		<div class="form-group">
			<label>Rentrez le contenu du commentaire</label>
			<textarea name="content" class="form-control" id="content" rows="3"
				required>{{ comment.content is defined ? comment.content : comment[0].content }}</textarea>
			{{ errors['content'] is defined ? message.alert(errors['content'], 'danger') : "" }}
		</div>
		<div class="form-group">
			<label>Validé</label>
			{% if comment.validated is defined %}
				{% set validated = comment.validated == true ? "checked" : "" %}
			{% else %}
				{% set validated = comment[0].validated == true ? "checked" : "" %}
			{% endif %}
			<input type="checkbox" class="form-check-label" id="validated" name="validated" {{ validated }}>
		</div>
		<button class="btn btn-secondary" name="submit" type="submit">Modifier</button>
	</form>
</div>
{% endblock %}

{% block footer %}
{% endblock %}