{% extends 'base.html.twig' %}

{% block body %}
<div class="container-form col-12">
	<h2 class="h2 text-center">Mettre à jour un article un commentaire</h2>
	<form method="post" action="index.php?access=comment&id={{ comment[0].id }}&action=update" enctype="multipart/form-data">
		<div class="form-group">
			<label>Rentrez le contenu du commentaire</label>
			<textarea name="content" class="form-control" id="content" rows="3" required>{{ comment[0].content }}</textarea>
		</div>
		<div class="form-group">
			<label>Validé</label>
			<input type="checkbox" class="form-check-label" id="validated" name="validated" {{ comment[0].validated == true ? "checked" : "" }}>
		</div>
		<button class="btn btn-secondary" name="submit" type="submit">Modifier</button>
	</form>
</div>
{% endblock %}

{% block footer %}
{% endblock %}