{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<section class="contact" id="contact">
    <div class="container">
        <div class="heading text-center wow fadeInUp">
            <h2>
                Me
                <span>contacter</span>
            </h2>
            <p>
                Démarrons un projet ensemble, n’hésitez pas à me contacter.
            </p>
        </div>
        {# Message #}
        {% import "layout/alert.html.twig" as message %}
        {% if success %}
            {{ message.alert("Message envoyé", 'success') }}
        {% elseif error %}
            {{ message.alert("Erreur lors de l'envoi du message, veuillez réessayer en remplissant tous les champs", 'danger') }}
        {% endif %}

        <div class="main wow fadeInUp">
            <div class="row">
                <div class="col-lg-8 left">
                    <h3>Envoyer le message</h3>

                    <form action="index.php?access=mail" method="post" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="firstname" placeholder="Prénom*">
                            </div>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="lastname" placeholder="Nom*">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <input type="email" class="form-control" name="email" placeholder="Email*">
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" rows="5" name="message" id="comment" placeholder="Message*"></textarea>
                        </div>
                        <button class="btn btn-block" type="submit">Envoyer</button>
                    </form>
                </div>
                <!-- Left -->
                <div class="col-lg-4">
                    <div class="right">
                        <h4>Contact Information</h4>
                        <div class="info d-flex align-items-center">
                            <i class="fas fa-map-marker-alt"></i>
                            <span>Haute-Savoie,<br>74000 Annecy</span>
                        </div>
                        <div class="info d-flex align-items-center">
                            <i class="fas fa-phone-alt"></i>
                            <span>+33 06-12-34-56-78</span>
                        </div>
                        <div class="info d-flex align-items-center">
                            <i class="fas fa-envelope"></i>
                            <span>maxime.doutreluingne@gmail.com
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}